<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/* boostrap requirement */-->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
    <!--/* meta */-->
    <title>Hotel</title>
    <meta name="description" content="Hotel room reservation" />
    
    <!--/* Bootstrap */-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
  	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
  	
</head>
<body>
	<!--/* navigation bar */-->
	<div th:replace="fragments/header :: header"></div>
	<!--/* main rezervation form */-->
	<div th:if="${reserv != null}">
	<div class="container"><div class="row"><div class="col-md-6 col-sm-6 col-xs-12">
		<h2>Room reservation</h2>
		<form class="form-inline" action="#" method="post" th:action="@{/}">
			<!--/* Dates input */-->
			<div class="form-group" id="dateForm"> 
				<div class="input-daterange input-group">
				    <input id="dateInput" type="text" class="form-control" th:field="${reserv.rangeDate}" th:required="required"/>
				</div>
			</div>
			
			<br/>
			<label>Number of rooms:</label>
			<br/>
			<div class="form-group" th:each="roomType, status : ${reserv.roomsQuantities}">
				<div th:if="${roomType != null}">
					<label class="control-label"><span th:text="${status.index + 1}"></span> person</label>
					<input class="form-control" type="number" th:field="${reserv.roomsQuantities[__${status.index}__]}" min="0" max="8"/>
				</div>
			</div>
			
			<br/>
			<div class="form-group"> <!-- Submit button -->
				<div sec:authorize="isAnonymous()">
					<p>Login to reserve</p>
				</div>
				<div sec:authorize="isAuthenticated()">
					<button class="btn btn-primary " name="submit" type="submit">Submit</button>
				</div>
			</div>
			
		</form>
		<div th:if="${reservError != null}">
			<p th:text="${reservError}"></p>
		</div>
	</div></div></div></div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>

	<script>
		$('#dateInput').daterangepicker({
		    autoApply: true,
		    dateLimit: {
		        days: 7
		    },
		    linkedCalendars: false,
		    showCustomRangeLabel: false,
		    minDate: new Date()
		});
	</script>
</body>
</html>